APP_NAME=HoopHockey
APP_ORG=com.unwisegames
APP_SUFFIX=hoophockey
APP_ORIENTATION=portrait
APP_ADS=banner

APP_LEADERBOARDS=\
'career   | Career points           | 0..max | point(s) | int    | career.xcf   ',\
'arcscore | Arcade high score       | 0..max | point(s) | int    | arcscore.xcf ',\
'buzscore | Buzzer high score       | 0..max | point(s) | int    | buzscore.xcf ',\
'juggler  | Longest juggling streak | 0..max |          | hms.cc | juggle.xcf   ',\
'quick100 | Quickest to 100 points  | max..0 |          | hms.cc | quick100.xcf ',\

APP_ACHIEVEMENTS=\
'score25     | 25 points    | Score 25 points in one game      | | 5   | score25.xcf    ',\
'score100    | 100 points   | Score 100 points in one game     | | 10  | score100.xcf   ',\
'sharpshot   | Sharpshooter | Score without touching the sides | | 1   | sharpshoot.xcf ',\
'twofortwo   | Two for two  | Two hoops off two hits           | | 20  | hattrick.xcf   ',\
'hattrick    | Hat-trick    | Three hoops off three hits       | | 30  | hattrick.xcf   ',\
'hattrick2   | Unstoppable  | Four hoops off four hits         | | 40  | repeat10.xcf   ',\
'points500   | 500 points   | Score 500 career points          | | 25  | 500points.xcf  ',\
'points1000  | 1000 points  | Score 1000 career points         | | 50  | 1000points.xcf ',\
'points10000 | 10000 points | Score 10000 career points        | | 100 | 1000points.xcf ',\


APP_CRASHLYTICS_KEYS={"59efd8efa798a66a14298a635c31ada26b117010","f6474bc3d98ece60a076003b4d1e69b4c7aca52e8321800b823a494d101a901d"}
