APP_NAME=Bounce
APP_ORIENTATION=portrait
APP_ADS=banner

APP_LEADERBOARDS=\
'score    | High score              | 0..max | point(s) | int    | score.xcf    ',\
'juggler  | Longest juggling streak | 0..max |          | hms.cc | juggle.xcf   ',\
'quick100 | Quickest to 100 points  | max..0 |          | hms.cc | quick100.xcf ',\

APP_ACHIEVEMENTS=\
'score25   | 25 points    | Score 25 points                  | | 5  | score25.xcf    ',\
'score100  | 100 points   | Score 100 points                 | | 10 | score100.xcf   ',\
'sharpshot | Sharpshooter | Score without touching the sides | | 1  | sharpshoot.xcf ',\
'twofortwo | Two for two  | Two hoops off two hits           | | 20 | hattrick.xcf   ',\
'hattrick  | Hat-trick    | Three hoops off three hits       | | 20 | hattrick.xcf   ',\
'hattrick2 | Unstoppable  | Four hoops off four hits         | | 40 | repeat10.xcf   ',\


APP_CRASHLYTICS_KEYS={"59efd8efa798a66a14298a635c31ada26b117010","f6474bc3d98ece60a076003b4d1e69b4c7aca52e8321800b823a494d101a901d"}
